body
{
    background: url("https://i.pinimg.com/564x/db/da/14/dbda142cba3b3a225053138d4bf9e211.jpg") no-repeat;
    background-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}